/*****************************************
Side bar styles
******************************************/

.left-side-bar {
	position: fixed;
	min-width: 70px;
	min-height: 100%;
	background-color: #18222c
}

.left-side-bar__menu i {
	display: block;
	margin: 12px 0 5px 0;
	font-size: 2rem;
	color: white;
	text-align: center;
}

.user-img {
	max-width: 40px;
	margin: 5px auto;
}

.left-side-bar__menu-desc {
	margin: 0;
	font-size: .9rem;
	color: white;
	text-align: center;
}

.item a {
	text-decoration: none;
}

.side-menu-icon i {
	margin: 6px 0 3px 0;
}


/*****************************************
Dashboard styles
******************************************/

.dashboard {
	position: absolute;
	display: block;
	min-width: calc(100% - 70px);
	min-height: 100%;
	margin-left: 70px;
	background-color: white;
}

.dashboard .nav a {
	padding: 5px 10px;
	font-size: 1.2rem;
}


/*****************************************
Search
******************************************/

.search {
	position: fixed;
	top: 5px;
	right: 10px;
}

.search button {
	z-index: 100;
	width: 25px;
	height: 25px;
	padding: 0;
	color: white;
	background-color: #d8d8d8;
	border: none;
	border-radius: 50%;
}

.search button:focus {
	color: white;
	outline: 0 !important;
}

.search-box {
	position: fixed;
	top: 5px;
	right: 10px;
	z-index: -1;
	width: 150px;
	height: 25px;
	border-radius: 12.5px;
}

.nav li.active a:focus {
	color: #555555;
	background-color: rgba(0, 0, 0, .05);
}

.nav li.active a {
	color: #337ab7;
	background-color: rgba(0, 0, 0, 0);
	border-bottom: 3px solid #337ab7;
	border-radius: 0;
}


/*****************************************
Placeholder fix
******************************************/

input::-webkit-input-placeholder {
	color: #ddd !important;
}

input:-moz-placeholder {
	/* Firefox 18- */
	color: #ddd !important;
}

input::-moz-placeholder {
	/* Firefox 19+ */
	color: #ddd !important;
}

input::-ms-input-placeholder {
	color: #ddd !important;
}

.tab-pane {
	padding: 10px;
}